* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}

img{
    width: 150px;
}

        
.lista {
    display: flex;
    list-style: none;
    margin: 0;
}


.quadrados {
    width: 231px;
    margin-left: 63px;   
    align-items: center;   
}   